langchain
langgraph
langchain_community
langchain_core
langchain_groq
fastapi
uvicorn
watchdog
langgraph-cli[inmem]
torch
python-dotenv
ipython
pydantic
typing-extensions

# LangChain ecosystem
langchain
langchain-core
langchain-community
langchain-google-genai
langchain-groq
langchain-text-splitters
langgraph

# Vector stores
faiss-cpu  

# Utilities
duckduckgo-search
wikipedia
arxiv
